USE [master]
GO
/****** Object:  Database [BookStore]    Script Date: 8/31/2020 23:46:14 ******/
CREATE DATABASE [BookStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BookStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BookStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookStore]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 8/31/2020 23:46:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Image] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [float] NULL,
	[Author] [nvarchar](200) NULL,
	[ImportDate] [date] NULL,
	[CategoryId] [int] NOT NULL,
	[Quantity] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[ISBN] [nvarchar](100) NULL,
	[NumOfPages] [int] NULL,
	[Link] [nvarchar](500) NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 8/31/2020 23:46:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 8/31/2020 23:46:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DiscountCode] [varchar](10) NOT NULL,
	[DiscountPercent] [float] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[IsUsed] [bit] NOT NULL,
 CONSTRAINT [PK_Discount_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 8/31/2020 23:46:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 8/31/2020 23:46:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_PaymentMethod] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingOrder]    Script Date: 8/31/2020 23:46:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[PaymentMethodId] [int] NULL,
	[DiscountId] [int] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccount]    Script Date: 8/31/2020 23:46:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[Username] [varchar](100) NOT NULL,
	[Password] [nchar](50) NOT NULL,
	[Fullname] [nchar](50) NULL,
	[IsAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_UserAccount] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([Id], [Name], [Image], [Description], [Price], [Author], [ImportDate], [CategoryId], [Quantity], [IsActive], [ISBN], [NumOfPages], [Link]) VALUES (2, N'Phụ Đạo Xán Nhiên', N'https://muasachhay.vn/wp-content/uploads/2020/03/phu-dao-xan-nhien-mua-sach-hay-420x500.jpg', N'', 100000, N'Hải Thượng Lãn Ông', CAST(N'2020-08-31' AS Date), 2, 100, 1, N'', 220, N'https://muasachhay.vn/san-pham/phu-dao-xan-nhien/')
INSERT [dbo].[Book] ([Id], [Name], [Image], [Description], [Price], [Author], [ImportDate], [CategoryId], [Quantity], [IsActive], [ISBN], [NumOfPages], [Link]) VALUES (3, N'Võ Kinh Thất Thư', N'https://muasachhay.vn/wp-content/uploads/2020/03/vo-kinh-that-thu-mua-sach-hay-420x500.jpg', N'', 250000, N'Trường chỉ huy và tham mưu', CAST(N'2020-08-31' AS Date), 2, 100, 1, N'', 490, N'https://muasachhay.vn/san-pham/vo-kinh-that-thu/')
INSERT [dbo].[Book] ([Id], [Name], [Image], [Description], [Price], [Author], [ImportDate], [CategoryId], [Quantity], [IsActive], [ISBN], [NumOfPages], [Link]) VALUES (4, N'Hải Thượng Y Tôn Tâm Lĩnh - Bộ 5 quyển', N'https://muasachhay.vn/wp-content/uploads/2020/03/hai-thuong-y-tong-tam-linh-5quyen-mua-sach-hay-420x600.jpg', N'', 1450000, N'Hải Thượng Lãn Ông', CAST(N'2020-08-31' AS Date), 2, 100, 1, N'', 3028, N'https://muasachhay.vn/san-pham/hai-thuong-y-ton-tam-linh-bo-5-quyen/')
GO
SET IDENTITY_INSERT [dbo].[Book] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name]) VALUES (2, N'Sách Xưa Trước 1975')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (3, N'Sách Kinh Tế & Copywriting- Marketing - Kinh doanh')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (4, N'Sách Hay - Tinh Tuyển')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Discount] ON 

INSERT [dbo].[Discount] ([Id], [DiscountCode], [DiscountPercent], [CreatedDate], [Username], [IsUsed]) VALUES (1, N'abc123', 10, CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'user01', 1)
INSERT [dbo].[Discount] ([Id], [DiscountCode], [DiscountPercent], [CreatedDate], [Username], [IsUsed]) VALUES (5, N'hi', 0, CAST(N'2020-08-29T23:18:51.137' AS DateTime), N'user01', 0)
INSERT [dbo].[Discount] ([Id], [DiscountCode], [DiscountPercent], [CreatedDate], [Username], [IsUsed]) VALUES (6, N'hi', 50, CAST(N'2020-08-29T23:19:00.183' AS DateTime), N'user01', 0)
SET IDENTITY_INSERT [dbo].[Discount] OFF
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderId], [BookId], [Quantity], [Price]) VALUES (2, 2, 120, 3, 180000)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
SET IDENTITY_INSERT [dbo].[PaymentMethod] ON 

INSERT [dbo].[PaymentMethod] ([Id], [Name]) VALUES (1, N'COD')
INSERT [dbo].[PaymentMethod] ([Id], [Name]) VALUES (2, N'VISA')
INSERT [dbo].[PaymentMethod] ([Id], [Name]) VALUES (3, N'PAYPAL')
SET IDENTITY_INSERT [dbo].[PaymentMethod] OFF
SET IDENTITY_INSERT [dbo].[ShoppingOrder] ON 

INSERT [dbo].[ShoppingOrder] ([Id], [Username], [CreatedDate], [PaymentMethodId], [DiscountId]) VALUES (2, N'user01', CAST(N'2020-08-31T23:41:26.153' AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[ShoppingOrder] OFF
INSERT [dbo].[UserAccount] ([Username], [Password], [Fullname], [IsAdmin]) VALUES (N'admin', N'admin                                             ', N'David Ho                                          ', 1)
INSERT [dbo].[UserAccount] ([Username], [Password], [Fullname], [IsAdmin]) VALUES (N'user01', N'user01                                            ', N'Nguyen Thi A                                      ', 0)
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Category]
GO
ALTER TABLE [dbo].[Discount]  WITH CHECK ADD  CONSTRAINT [FK_Discount_UserAccount] FOREIGN KEY([Username])
REFERENCES [dbo].[UserAccount] ([Username])
GO
ALTER TABLE [dbo].[Discount] CHECK CONSTRAINT [FK_Discount_UserAccount]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Book]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_ShoppingOrder] FOREIGN KEY([OrderId])
REFERENCES [dbo].[ShoppingOrder] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_ShoppingOrder]
GO
ALTER TABLE [dbo].[ShoppingOrder]  WITH CHECK ADD  CONSTRAINT [FK_Order_Discount] FOREIGN KEY([DiscountId])
REFERENCES [dbo].[Discount] ([Id])
GO
ALTER TABLE [dbo].[ShoppingOrder] CHECK CONSTRAINT [FK_Order_Discount]
GO
ALTER TABLE [dbo].[ShoppingOrder]  WITH CHECK ADD  CONSTRAINT [FK_Order_PaymentMethod] FOREIGN KEY([PaymentMethodId])
REFERENCES [dbo].[PaymentMethod] ([Id])
GO
ALTER TABLE [dbo].[ShoppingOrder] CHECK CONSTRAINT [FK_Order_PaymentMethod]
GO
ALTER TABLE [dbo].[ShoppingOrder]  WITH CHECK ADD  CONSTRAINT [FK_Order_UserAccount] FOREIGN KEY([Username])
REFERENCES [dbo].[UserAccount] ([Username])
GO
ALTER TABLE [dbo].[ShoppingOrder] CHECK CONSTRAINT [FK_Order_UserAccount]
GO
USE [master]
GO
